<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeetMe - Login</title>
</head>
<body>
    <h1>Welcome to our platform!</h1>

    <form action = "SignIn" method="POST">
        Username: <input type="text" name="username" required> <br>
        Password: <input type="password" name="password" required> <br>
        <input type="submit" value="Sign in">
        <p th:text=" ${signInErrorMessage}"></p>
    </form>

    <form action = "SignUp" method="POST">
        Email: <input type="text" name="email" required> <br>
        Username: <input type="text" name="username" required> <br>
        Password: <input type="password" name="password" required> <br>
        Repeat Password: <input type="password" name="repeatPassword" required> <br>
        <input type="submit" value="Sign up">
        <p th:text=" ${signUpErrorMessage}"></p>
    </form>

</body>
</html>