<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeetMe - Registry</title>
</head>

<body>
<div>
    <a th:href="@{/Home}">Go back to Home</a>
</div>
<h1>MeetMe - Registry</h1>

<div>
    <h3>Meeting details:</h3>
    <label th:text="'title: ' + ${tempMeeting.title}">sample</label> <br>
    <label th:text="'date: ' + ${tempMeeting.date.getYear() + 1900} +'-'+${tempMeeting.date.getMonth() + 1}+'-'+${tempMeeting.date.getDate()}">2000-01-01</label> <br>
    <label th:text="'time: ' + ${tempMeeting.time}">15:30</label> <br>
    <label th:text="'duration: ' + ${tempMeeting.duration}">90min</label> <br>
    <label th:text="'maximum number of participants: ' + ${tempMeeting.numberOfParticipants}">14-05-2022</label> <br>
</div>

<div>
    <p th:text = "'Please select up to ' + ${tempMeeting.getNumberOfParticipants()-1} + ' users.'"></p>
    <!-- stampa il numero di utenti da selezionare, se sono troppi, mostra quanti ne deve togliere -->
    <form action="#" th:action="@{/CreateMeeting}" method="POST">
        <fieldset>
            <p th:text=" ${meetingFormError}"></p>

            <div th:each="user : ${userMap}">
                <input type="checkbox" th:name="selectedUsers" th:value="${user.key}" th:checked="${userMap.get(user.key).get_2()}"/> <!-- th:checked="" -->
                <label th:for="${user.key}" th:text="${user.key}"> test</label>
            </div>

            <br>
            <input type="submit" name="Create Meeting">
        </fieldset>
    </form>
</div>

</body>
</html>